IP;DeviceName;Hostkey;plinkHostkey;Username;Password
44.149.19.113;router.dl3ncu-6;ssh-rsa 2048 HPKJ2oICnzyjTo3UCAgpYPcL5w/9C4P6tyPuMb29L2E=;ssh-rsa 2048 7b:2b:2e:66:57:38:91:b8:90:d8:f2:d6:23:3e:40:a5;admin;password
